@page "/"

    <div class="jumbotron-fluid col-sm-12 col-md-8 justify-content-center mx-auto">
        <h1 class="display-4 text-center"> Hi, i'm Maciej</h1>
        <div class="lead text-center">Student , hobbyist , programmer</div>
        <hr class="m-4" />
        <span class="text-info"> This is a simple Cv Maker. All work is done on the client-side. It's Blazor with WebAssembly hosting model! </span>
        <SurveyPrompt Title="Want to know how this app was build?" />
    </div>